<footer class="wrapper wrapper--footer">
    <div>
        <a href="mailto:{{ site.email }}">Noahcdela@gmail.com</a>
    </div>
    <div class="©">© Noah Delagardelle 2018</div>
    <div>
        <a class="page-scroll" href="#page-top">Back to top ↑</a>
    </div>
</footer>

<script src="{{ "assets/js/jquery-3.3.1.min.js " | relative_url }}"></script>
<script src="{{ "assets/js/jquery.easing.min.js " | relative_url }}"></script>
<script src="{{ "assets/js/functions.js " | relative_url }}"></script>