// Base

html, body {
    background-color: $color_bg;
    color: $color_main;
}

body {
    position: relative;
    // transition: 800ms ease;
    // &.dark-bg {
    //     background-color: black;
    // }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.wrapper {
    max-width: 90vw;
    @include for-desktop-up {
        max-width: 80vw;
        // max-width: 1100px;
    }
    margin: 0 auto;
    &--hero {
        .hero-header {
            margin-bottom: 100px;
            @include for-phone-only {
                margin-bottom: 60px;
            }
        }
        margin-top: 60px;
        margin-bottom: 60px;
        @include for-big-desktop-up {
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }
    &--next__previous {
        display: flex;
        position: relative;
    }
    &--footer {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 30px;
        @include for-phone-only {
            flex-direction: column;
            align-content: space-around;
            text-align: center;
            height: 100px;
        }
        div {
            width: 33%;
            @include for-phone-only {
                width: 100%;
                &:nth-child(1) {
                    order: 2;
                }
                &:nth-child(2) {
                    order: 3;
                }
                &:nth-child(3) {
                    order: 1;
                }
            }
            @include for-tablet-portrait-up {
                &:nth-child(2) {
                    text-align: center;
                }
                &:nth-child(3) {
                    text-align: right;
                }
            }
        }
    }
}

.© {
    opacity: .5;
}

.wrapper--footer__links {
    a {
        margin-right: 15px;
    }
}

.cta {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 2px solid $color_secondary;
    transition: 250ms ease;
    &--hero {

        // position: absolute;
        //left: 10vw;
        //bottom: 60px;

        margin-top: 20px;
        margin-bottom: 20px;
        @include for-big-desktop-up {
            margin-top: 40px;
            margin-bottom: 100px;
        }
    }
    &--project {
        //margin-top: 30px;
    }
    &:hover {

    }
}

.about__wrapper {
    p {
        opacity: .7;
        margin-top: 0;
        margin-bottom: 30px;
    }
    a {
        border-bottom: 2px solid $color_secondary;
    }
    @include for-phone-only {
        display: flex;
        flex-direction: column-reverse;
    }
    @include for-tablet-portrait-up {
        display: grid;
        grid-column-gap: 60px;
        grid-template-columns: 1fr 2fr;
    }
    @include for-big-desktop-up {
        grid-column-gap: 200px;
    }
}

.me {
    display: inline;
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}

.side-by-side__about {
    display: flex;
    @include for-phone-only {
        flex-direction: column-reverse;
    }
    @include for-tablet-portrait-up {
        justify-content: baseline;
        div:first-child {
            margin-right: auto;
        }
        div {
            max-width: 45%;
        }
    }
}