--- 
layout: default
---

<div class="wrapper">

  <h1>{{ page.title}}</h1>

  <div class="project__details">
    <p class="project__details__scope">
      {{ page.scope | array_to_sentence_string }}
    </p>

    <div class="project__details__description">
      <p class="">
        {{ page.description }}
      </p>

      {% if page.link %}
      <p>
        <a class="cta cta--project" target="_blank" href="{{ page.link }}">Visit the Site →</a>
      </p>
      {% endif %}

    </div>

  </div>

  {{ content }}

  {% if page.link %}
  <p class="project__text">
      <a class="cta cta--project" target="_blank" href="{{ page.link }}">Visit the Site →</a>
  </p>
  {% endif %}

  <hr class="project__end__divider">

</div>

{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = site[the_collection]  %}
  {% endif %}

{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
      {% assign prevprofile = prev.profile %}
      {% assign prevscope = prev.scope | array_to_sentence_string %}  
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
      {% assign nextprofile = next.profile %} 
      {% assign nextscope = next.scope | array_to_sentence_string %} 
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<div class="wrapper wrapper--next__previous">

  <div class="project__card--previous">
    {% if prevurl %}
      <a href="{{ site.baseurl }}{{prevurl}}" class="project__card">
          <div class="project__card__info">
              <h2>{{ prevtitle }}</h2>
              <p>{{ nextscope }}</p>
          </div>
          <img class="project__card__image" src="{{ site.baseurl }}/assets/images/{{ prevprofile }}" alt="">
      </a>
    {% endif %}
  </div>

  <div class="project__card--next">
    {% if nexturl %}
    <a href="{{ site.baseurl }}{{nexturl}}" class="project__card">
        <div class="project__card__info">
            <h2>{{ nexttitle }}</h2>
            <p>{{ nextscope }}</p>
        </div>
        <img class="project__card__image" src="{{ site.baseurl }}/assets/images/{{ nextprofile }}" alt="">
    </a>
    {% endif %}
  </div>
</div>

<script>
  document.body.onkeyup = function (e) {
    if (e.keyCode == '37') {
      window.location = '{{ site.baseurl }}{{prevurl}}';
    }
    if (e.keyCode == '39') {
      window.location = '{{ site.baseurl }}{{nexturl}}';
    }
  };
</script>
